# --- Firmware (Microchip XC8) ---
firmware/build/
ccreport/
*.elf
*.hex
*.cmf
*.lst
*.sym
*.sdb
*.hxl
*.p1
*.d
*.i
*.rlf

# --- Documentación (LaTeX) ---
research/build/
*.tex
*.aux
*.log
*.out
*.toc
#*.pdf
*.fdb_latexmk
*.fls

# --- Sistema y otros ---
.DS_Store
Thumbs.db