# --- Firmware (Microchip XC8) ---
firmware/build/
ccreport/
*.elf
*.hex
*.cmf
*.lst
*.sym
*.sdb
*.hxl
*.p1
*.d
*.i
*.rlf

# --- LaTeX ---
# Ignorar la carpeta de compilación completa
research/build/
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz

# --- Sistema y otros ---
.DS_Store
Thumbs.db

# --- KiCad ---
# Archivos temporales y de bloqueo
*.lck
*#
_autosave-*
#auto_saved_files#
fp-info-cache

# Backups
*-backups/
*.bak
*.kicad_prl

ccreport
